<%= form_with model: @user, local: true do |form| %>
  <%#= binding.pry %>
  <%= flash_messages('alert') if flash[:alert] %>
  <%= render 'shared/errors', resource: @user %>

  <p>
    <%= form.label :email, 'Почта'%>
    <%= form.text_field :email, id: :user_mail %>
  </p>

  <p>
    <%= form.label :password, 'Пароль' %>
    <%= form.password_field :password, id: :user_password %>
  </p>


  <p>
    <%= form.label :password_confirmation, 'Повторите пароль' %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <p><%= form.submit 'Сохранить' %></p>
<% end %>