<footer>
  <div class="container-fluid">
    <p><%= current_year %>.
      <%= t('.author') %>
      <%= github_url('11albina19', 'TestGuru') %></p>
    <p><%= t('.description') %></p>
    <p><%= link_to t('.project'), 'https://thinknetica.com/#rec253288784', target: '_blank' %></p>
  </div>
</footer>
