<footer>
  <div class="container-fluid">
    <p><%= current_year %>.
      <%= 'Сафина Альбина.' %>
      <%= github_url('11albina19', 'TestGuru') %></p>
    <p><%= 'Онлайн-викторины для рекламы бренда или проверки знаний' %></p>
    <p><%= link_to 'Учебный проект в онлайн школе Thinknetica', 'https://thinknetica.com/#rec253288784', target: '_blank' %></p>
  </div>
</footer>