<nav class="navbar navbar-light bg-light">
  <%= link_to t('.name'), root_path, class: 'navbar-brand'%>
  <span class="navbar-text">
  <% if user_signed_in? %>
      <nav class="d-flex align-items-center gap-3">
        <% if current_user.admin?%>
        <%= link_to t('.panel'), admins_tests_path, class: "nav-link" %>
        <% end %>
        <span><%= t('.welcome') %><b><%= current_user.email %></b></span>
        <%= button_to t('.logout'), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger btn-sm" %>
     </nav>
  <% else %>
    <%= link_to t('.login'), new_user_session_path %>
      <%= link_to t('.register'), new_user_registration_path %>
  <% end %>
  </span>
</nav>

