<h2><%= @result.test.title %> <%= t('results.result.completed') %></h2>
<h3><%= t('.correct_question')%><%= @result.correct_question%>,
  <%= t('.success_rate')%> <span class="<%= return_color(@result) %>"> <%= @result.success_rate %>
</span> </h3>
<h3><%= return_message(@result)%></h3>
<%= link_to t('.back'), tests_path %>
