<h1>Прохождение теста: <%= @result.test.title %> </h1>
<b>
  <%= @result.current_question.body %>
</b>
<%= form_with url: result_path(@result), local: true, method: :put do |form| %>
  <%= form.fields_for :answer_ids do |f| %>
    <% @result.current_question.answers.each do |answer| %>
      <div class="form-check">
        <%= f.check_box answer.id, { id: "answer_#{answer.id}", class: 'form-check-input' }, answer.id, nil %>
        <%= f.label "answer_#{answer.id}", answer.body, class: 'form-check-label' %>
      </div>
    <% end %>
  <% end %>
  <%= form.submit 'Next' %>
<% end %>
