<!DOCTYPE html>
<html>
<head>
  <title>Тест Гуру</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="navigation">
  <%= link_to "Тест гуру", tests_path %>
  <% if logged_in? %>
    <span>Welcome, <b><%= current_user.email %></b> Guru</span>
    <%= link_to 'Выйти', logout_path, method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to "Войти", login_path%>
    <%= link_to "Зарегистрироваться", signup_path%>
  <% end %>
</div>
<div class="container">
  <%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
</html>
