<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Тест Гуру</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
    <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column min-vh-100">

<%= render 'shared/navigation' %>

<div class="container flex-grow-1">
  <%= render 'shared/flash' %>
  <%= yield %>
</div>

<%= render 'shared/footer' %>
</body>
</html>
